/*body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/

body {
margin: 0 auto;
}

.centerBlock{
width: 660px;
margin: 10px auto;
}

.comida, header{
  background-color: #a0daf1;
  border: 1px solid #cccccc;
  float:left;
  width: 660px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgb(0,0,0,0.2);
  text-align:center;
}

.centerBlock > div > div{
background-color: #f2f2f2;
border: 1px solid #cccccc;
float:left;
padding:20px;
margin: 13px;
width: 160px;
border-radius: 10px;
box-shadow: 0 2px 2px 1px rgb(0,0,0,0.2);
}

.centerBlock > div > div:first-child{
  margin-left: 0;
}

.centerBlock > div > div:last-child{
  margin-right: 0;
}

h1{
  font-size: 1.5em; 
}

h1, p{
border-radius: 10px;
padding:5px;
text-align: center;
}

.glyphicon{
	cursor: pointer;
}

input[type=checkbox]{
-webkit-appearance: none;
border:none;
outline: 0;
width: 15px;
}

input[type=checkbox]:checked{
color:red;
}

.controles{
  text-align:center;
}

.red {
  color:red;
}

.blue {
  color:blue;
  }

.glyphicon-heart,
.glyphicon-trash,
.glyphicon-pencil,
.glyphicon-ok-circle,
.glyphicon-remove-circle{
  margin: 10px 10px 0 10px;
  font-size: 25px;
}

.input-group{
  margin: 20px 20px 10px;
}

/* Animation Loading */
.glyphicon-refresh-animate{
-animation: spin .7s infinite linear;
-webkit-animation: spin2 .7s infinite linear; 
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { -webkit-transform: scale(1) rotate(360deg);}
}